.continent-card {
  padding-top: 2%;
  padding-left: 10%;
  margin-bottom: 2%;
  align-items: center;
  background-color: hsla(236, 45%, 36%, 0.521);
  max-width: 100%;
  font-size: large;
  border-radius: 20px;
}

.continent-card:nth-child(4n + 2),
.continent-card:nth-child(4n + 3) {
  background-color: hsla(236, 45%, 36%, 0.884);
}
