@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #5688e4;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  background-color: hsla(236, 45%, 36%, 0.884);
  margin: 0 30px 0 30px;
  font-family: 'Lato', sans-serif;
  align-content: center;
}

.backButton {
  cursor: pointer;
  color: #fff;
  padding-top: 15px;
  font-size: 25px;
}

.icons {
  padding-top: 25px;
  right: 40px;
  display: flex;
  color: #fff;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  gap: 20px;
}

.title {
  color: #fff;
  padding-top: 25px;
  margin-left: 130px;
  margin-top: 0;
}

.globeDetails {
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: #5687e4;
  padding: 20px 0;
  margin: 0 30px;
  gap: 10px;
}

.globe {
  font-size: 100px;
}

.count {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.title-cont {
  color: #fff;
  font-size: x-large;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  padding-top: 25px;
  padding-left: 35px;
  margin-top: 0;
}

.continentContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0 30px;
}

.continentImage {
  max-width: 300px;
  max-height: 300px;
  opacity: 0.5;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.input-area {
  height: 30px;
  border-radius: 10px;
}

.searchButton {
  padding: 0 5px;
}

.arrowButton {
  display: flex;
  padding-left: 90%;
  align-self: flex-start;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.continentText {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-left: 60%;
  padding-bottom: 2%;
  font-size: large;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.continentDetails {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.continentCount {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  gap: 20px;
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.countryContainer {
  display: grid;
  padding: 40px 0;
  font-size: x-large;
  background-repeat: no-repeat;
  margin: 0 30px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.countryDetails {
  background-repeat: no-repeat;
  justify-content: center;
  padding-left: 35%;
  align-self: center;
}

.countryCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}

.countryFigures {
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  padding-right: 10%;
  justify-content: center;
}

.countryTextCases {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  justify-content: center;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 768px) {
  .navContainer {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: hsla(236, 45%, 36%, 0.884);
    margin: 0 30px 20px 30px;
    font-family: 'Lato', sans-serif;
    align-content: center;
  }

  .backButton {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    padding-top: 15px;
  }

  .icons {
    padding-top: 15px;
    display: flex;
    color: #fff;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    gap: 20px;
  }

  .globe {
    font-size: 60px;
  }

  .globeDetails {
    display: flex;
    justify-content: center;
    font-size: small;
    background-color: #5688e4;
  }

  .title {
    font-size: smaller;
    color: #fff;
    padding-top: 15px;
    margin: 0;
  }

  .title-cont {
    font-size: medium;
    padding-top: 25px;
    padding-left: 35px;
    font-weight: 600;
    margin-top: 0;
  }

  .continentContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0 30px;
    max-width: 100vw;
  }

  .continentImage {
    width: 50%;
    max-height: 50%;
    opacity: 0.5;
  }

  .arrowButton {
    display: flex;
    padding-left: 70%;
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    color: #fff;
  }

  .continentText {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-left: 10%;
    align-self: flex-end;
    font-family: 'Lato', sans-serif;
    color: #fff;
  }

  .continentCount {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 20px;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    color: #fff;
  }

  .countryContainer {
    display: grid;
    grid-template-rows: auto;
    background-repeat: no-repeat;
    margin: 0 30px;
    font-family: 'Lato', sans-serif;
    font-size: small;
    color: #fff;
  }

  .countryDetails {
    background-repeat: no-repeat;
    padding-left: 38%;
    height: 5px;
    padding-top: 10%;
    padding-bottom: 20%;
    align-self: center;
    justify-content: center;
  }

  .countryCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }

  .countryFigures {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 5%;
    justify-content: center;
  }

  .countryTextCases {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    justify-items: center;
  }
}
